@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.gallery {
    width: 40%;
    border-right: solid 5px black;
    height: 70vh;
    
    &__title {
        font-family: $primary-font;
        font-size: 2vw;
        margin: 20px;
    }
    &__images {
        height: 50vh;
        overflow-y: scroll;
        margin: 0 3vw;
        
        &--items {
            height: 30vw;
            width: 30vw;
            margin: 10px auto;
        }
    }
}

.gallery__images::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(226, 194, 14, 0.6);
    background-color: rgb(250, 224, 76);
   
}

.gallery__images::-webkit-scrollbar
{
    
    background-color: #F5F5F5;
    width: 10px;
}

.gallery__images::-webkit-scrollbar-thumb
{
    height: 5px;
    width: 5px;
    background-color: #FFF;
    background-image: linear-gradient(0deg,
                                              rgba(85, 6, 175, 1) 0%,
                                              rgba(85, 6, 175, 1) 25%,
                                              transparent 100%,
                                              rgba(85, 6, 175, 1) 75%,
                                              transparent)
}